<div class="row">
    <div class="large-12 columns medium-12 columns my-account-wrapper">
        <div class="large-5 large-centered columns medium-5 medium-centered columns profile-image">
            <p class="img"><img src="{{ user.profile_url }}"></p>
            <p class="display-name">{{ user.name }}</p>
            <p class="username">{{ user.username }}</p>
        </div>
        <div class="large-7 large-centered columns medium-7 medium-centered columns account-settings">
            <div class="row">
                <div class="large-12 columns medium-12 columns email">
                    <h2>Email</h2>
                    <a class="update-settings update live" data-update="email">Update</a>
                    <a class="cancel-settings cancel" data-cancel="email">Cancel</a>
                    <form class="email-form" id="email-form" action="/api/user/updateUserEmail/" method="PUT" accept-charset="utf-8" name="email-form" novalidate="novalidate" data-email="{{ result.email }}" data-userid="{{ result.id }}">
                        <button type="submit" class="email-submit">Save</button>
                        <input class="ifirst" name="userEmail" type="text" value="" placeholder="someone@example.com" autocomplete="off" id="emailInput" />
                        <label class="error" for="userEmail"></label>
                    </form>
                </div>
            </div>
            <div class="row">
                <div class="large-12 columns medium-12 columns notifications">
                    <h2>Notifications</h2>
                    <p class="notifications">Check this option to receive notification emails from errandMachine.</p>
                    <div class="switch settings tiny round active">
                        <input id="critical" type="checkbox" class="ctask-urgent" />
                        <label for="critical"></label>
                        <i class="fa fa-check yes"></i>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="large-7 columns medium-7 columns delete">
                    <p class="about-delete">If you want to permanently delete your account, <a href="#">send us a request here</a>. It will take a few hours to process a full deletion.</p>
                </div>
            </div>
        </div>
    </div>
</div>
