<div class="row">
    <div id="tasks-wrapper" class="large-12 columns medium-12 columns my-tasks-wrapper" >
        <div id="no-tasks" class="large-6 large-centered columns medium-6 medium-centered columns no-tasks">
            <i class="fa fa-tasks"></i>
            <p class="title">You have no ordered tasks</p>
            <p class="incentive">Order one now</p>
            <a href="/new" class="new-task">New task</a>
        </div>
        <div id="tDetailModal" class="reveal-modal large expand-view" data-reveal>
        </div>
        <div class="large-12 columns medium-12 columns t-table-wrapper" id="t-table-wrapper">
            <li ng-repeat="task in Task">
                {{task.task_title | lowercase }} - {{task.task_description}} - {{task.task_urgency | lowercase}}
            </li>
        </div>
    </div>
</div>
