<div class="row">
    <div class="large-12 columns medium-12 columns create-tasks-wrapper">
        <div class="large-12 columns medium-12 columns createf-wrapper">
            <h3>What would you like done?</h3>
            <form class="create-task-form" id="create-task-form" method="POST" ng-submit="addTask()" accept-charset="utf-8" name="create-task-form" novalidate="novalidate">
                <div class="row">
                    <div class="large-6 columns medium-6 columns">
                        <input id="taskTitle" name="taskTitle" type="text" ng-model="taskTitle" class="task-title ctask-input" placeholder="Name your task" autocomplete="off" required autofocus/>
                        <label class="error" for="taskTitle"></label>
                    </div>
                    <div class="large-5 large-pull-1 columns medium-5 medium-pull-1 columns show-for-medium-up tinfo-div">
                        <i class="fa fa-support"></i>
                        <p>Good task names are short, descriptive and easy to remember e.g Pay house bill - File taxes to KRA.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="large-6 columns medium-6 columns">
                        <textarea id="taskDescription" name="taskDescription" ng-model="taskDescription" placeholder="Tell us what you would like done" class="ctask-input" required autofocus></textarea>
                        <label class="error" for="taskDescription"></label>
                    </div>
                    <div class="large-5 large-pull-1 columns medium-5 medium-pull-1 columns show-for-medium-up tinfo-div">
                        <i class="fa fa-support"></i>
                        <p>Be as detailed as possible with your task description; consider providing a task due date and a contact person.</p>
                    </div>
                </div>
                <div class="row urgent-section">
                    <div class="large-6 columns medium-6 columns">
                        <label class="title">Is your task urgent?</label>
                        <p class="prompt">Urgent tasks are priced at an extra <span>15% of the final task cost.</span></p>
                        <div class="switch small round">
                            <input name="taskUrgency" ng-model="taskUrgency" value="URGENT" id="urgent" type="checkbox" class="ctask-urgent" required autofocus/>
                            <label for="urgent"></label>
                            <i class="fa fa-check yes"></i>
                        </div>
                    </div>
                </div>
                <button type="submit" class="large-3 columns medium-3 columns submit">Create task</button>
            </form>
        </div>
    </div>
</div>
