<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/tk.css">
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/modernizr.js"></script>
    </head>
    <body>
        <div class="full-size fixed">
            <div class="large-12 columns medium-12 columns header">
                <a href="/" class="logo"><img src="/images/taskwetu.png"></a>
            </div>
        </div>
        <div class="large-12 columns medium-12 columns page-wrapper">
            <div class="large-6 large-centered columns medium-6 medium-centered columns login-wrapper preset-wrapper">
                <h1>TasKwetu</h1>
                <p class="title2">Password reset</p>
                <i class="fa fa-key fa-rotate-180 icon"></i>
                <p class="incentive">Enter your email address below and we will send you a temporary password that you will use to log back into your account.<span> Make sure to change your password as soon as you're logged in.</span></p>
                <form class="password-form" id="password-form" action="/api/user/passReset/" method="POST" accept-charset="utf-8" name="password-form" novalidate="novalidate">
                    <input type="text" class="login-input" name="email" placeholder="Enter email" />
                    <label class="error" for="email"></label>
                    <button type="submit" class="large-6 columne medium-6 columns submit">Send</button>
                </form>
            </div>
        </div>
        <script src="/javascript/foundation.min.js"></script>
        <script src="/javascript/jquery.validate.min.js"></script>
        <script src="/javascript/tk.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
            $(function(){
                $("#password-form").validate({
                    onkeyup: false,
                    rules: {
                        email: {
                            required: true,
                            email: true
                        }
                    },
                    messages: {
                        email: {
                            required: "Your email is required.",
                            email: "Inavlid email address."
                        }
                    },
                    submitHandler: function(form){
                        var formURL = $(form).attr('action');
                        var formMethod = $(form).attr('method');
                        var postData = $(form).serializeArray();
                        $.ajax({
                            url: formURL,
                            type: formMethod,
                            data: postData,
                            success:function(data, textStatus, jqXHR)
                            {
                                //Success
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                //Fail
                            }
                        });
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>