<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/io.css">
        <script src="/javascript/jquery.min.js"></script>
        <script src="/javascript/modernizr.js"></script>
    </head>
    <body>
        <div id="ioWrapper" class="io-wrapper landing">
            <div class="io-canvas">
                <div id="ioMenu" class="io-menu">
                    <a href="/" class="logo-text">Ink Overflow</a>
                    <ul class="menu">
                        <li><a href="/about">About</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Discover</a></li>
                    </ul>
                </div>
                <div class="full-size header-banner">
                    <div class="large-12 columns medium-12 columns header header-tr">
                        <i id="menuTrigger" class="fa fa-bars menu-switch show-for-small-only"></i>
                        <a href="/" class="logo-text">Ink Overflow</a>
                        <ul class="menu show-for-medium-up">
                            <li><a href="/about">About</a></li>
                            <li><a href="#">Blog</a></li>
                            <li><a href="#">Discover</a></li>
                        </ul>
                    </div>
                    <div class="large-12 columns medium-12 columns banner">
                        <p class="quote-b show-for-medium-up">Promoting poetry in Africa.</p>
                        <p class="quote-s show-for-small-only">Promoting poetry in Africa.</p>
                        <hr class="divider-b large-5 large-centered columns medium-5 medium-centered columns show-for-medium-up">
                        <hr class="divider-s small-12 columns show-for-small-only">
                        <p class="signin-prompt">Get started with</p>
                        <div class="large-7 large-centered columns medium-7 medium-centered columns signin-container">
                            <div class="large-4 columns medium-4 columns signin-bdiv">
                                <a href="/auth/facebook" class="signin-button facebook"><i class="fa fa-facebook-square"></i>Facebook</a>
                            </div>
                            <div class="large-4 columns medium-4 columns signin-bdiv">
                                <a href="/auth/google" class="signin-button google"><i class="fa fa-google-plus-square"></i>Google</a>
                            </div>
                            <div class="large-4 columns medium-4 columns signin-bdiv">
                                <a href="/auth/twitter" class="signin-button twitter"><i class="fa fa-twitter-square"></i>Twitter</a>
                            </div>        
                        </div>
                    </div>
                </div>
                <div class="full-size landing-section">
                    <div class="row">
                        <div class="large-12 columns medium-12 columns incentive-wrapper">
                            <div class="row">
                                <div class="large-6 columns medium-6 columns incentives incentive-a">
                                </div>
                                <div class="large-6 columns medium-6 columns incentives incentive-b">
                                </div>
                            </div>
                            <div class="row">
                                <div class="large-6 columns medium-6 columns incentives incentive-c">
                                </div>
                                <div class="large-6 columns medium-6 columns incentives incentive-d">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="full-size footer">
                    <div class="row">
                        <div class="large-12 columns medium-12 columns info-wrapper">
                            <a href="/about" class="footer-link">About</a>
                            <a href="#" class="footer-link">Privacy &amp; Terms</a>
                            <a href="#" class="footer-link">Contact</a>
                            <a href="#" class="footer-link">Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>        
        <script src="/javascript/foundation.min.js"></script>
        <script src="/javascript/sly.min.js"></script>
        <script src="/javascript/classie.js"></script>
        <script src="/javascript/io.js"></script>
        <script>
            $(document).foundation();
        </script>
    </body>
</html>