<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/stylesheets/foundation.min.css">
        <link rel="stylesheet" href="/stylesheets/font-awesome/css/font-awesome.min.css">
        <link rel="stylesheet" href="/stylesheets/tk.css">
        <script src="/javascript/jquery.js"></script>
        <script src="/javascript/modernizr.js"></script>
    </head>
    <body>
        <div class="full-size fixed">
            <div class="large-12 columns medium-12 columns header">
                <a href="/" class="logo"><img src="/images/taskwetu.png"></a>
            </div>
        </div>
        <div class="large-12 columns medium-12 columns page-wrapper">
            <div class="large-9 large-centered columns medium-9 medium-centered columns login-wrapper">
                <h1>TasKwetu</h1>
                <i class="fa fa-sign-in icon"></i>
                <div class="large-5 columns medium-5 columns social">
                    <p class="title">Log In with facebook or google plus.</p>
                    <a href="/auth/facebook" class="signin-button facebook"><i class="fa fa-facebook-square"></i>Facebook</a>
                    <a href="/auth/google" class="signin-button google"><i class="fa fa-google-plus-square"></i>Google</a>
                    <p class="prompt">We do not post to your social media accounts without your permission.</p>
                </div>
                <div class="large-5 columns medium-5 columns">
                    <p class="title">Log In with your email and password.</p>
                    <form class="login-form" id="login-form" action="/loc-login" method="POST" accept-charset="utf-8" name="login-form" novalidate="novalidate">
                        <input type="text" class="login-input" name="email" placeholder="Enter email" />
                        <label class="error" for="email"></label>
                        <input type="password" class="login-input" name="password" placeholder="Enter password" />
                        <label class="error" for="password"></label>
                        <button type="submit" class="submit">Log In</button>
                        <a href="/passwordReset" class="forgot-password">Forgot password?</a>
                    </form>
                    <p class="prompt">Don't have an account? <a href="/signup">Create one here.</a></p>
                </div>
            </div>
        </div>
        <script src="/javascript/foundation.min.js"></script>
        <script src="/javascript/jquery.validate.min.js"></script>
        <script src="/javascript/tk.js"></script>
        <script>
            $(document).foundation();
        </script>
        <script>
            $(function(){
                $("#login-form").validate({
                    onkeyup: false,
                    rules: {
                        email: {
                            required: true,
                            email: true
                        },
                        password: "required"
                    },
                    messages: {
                        email: {
                            required: "Your email is required.",
                            email: "Inavlid email address."
                        },
                        password: "Your password is required."
                    },
                    submitHandler: function(form){
                        var formURL = $(form).attr('action');
                        var formMethod = $(form).attr('method');
                        var postData = $(form).serializeArray();
                        $.ajax({
                            url: formURL,
                            type: formMethod,
                            data: postData,
                            success:function(data, textStatus, jqXHR)
                            {
                                //Success
                            },
                            error: function(jqXHR, textStatus, errorThrown)
                            {
                                //Fail
                            }
                        });
                        return false;
                    }
                });
            });
        </script>
    </body>
</html>