<div class="large-12 columns medium-12 columns select-interests">
    <h1 class="section-header">Pick your interests</h1>
    <p class="header-text">We use these interests to generate content that's right for you, you can edit your interests later in the settings page. Select at least <b>3</b> interests.</p>
    <div class="large-12 columns medium-12 columns interests-div">
        {{#each interest}}
            <div class="large-3 columns medium-3 columns interest-wrapper">
                <div class="large-12 columns medium-12 columns interest">
                    <span class="image"><img src="{{}}" /></span>
                    <span class="image-blur"><img src="{{}}" /></span>
                    <span class="cover" data-id="{{}}">
                        <h2>{{}}</h2>
                        <a class="select"><i class="fa fa-check"></i></a>
                    </span>
                </div>
            </div>
        {{/each}}
    </div>
    <div class="large-3 columns medium-3 columns done-div">
        <a class="done" id="interestDone">Done</a>
    </div>
</div>